@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.btn {
  @apply py-2 px-2 md:px-6 border-2 font-primary text-xs md:text-base rounded-md cursor-pointer;
}
